<header class="header">
    <a href="/" class="header__logo">theBlog</a>

    <nav class="Header__nav">
      <ul>
        <li>
            <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
        </li>
      </ul>

    </nav>

    <div class="header__button">
    </div>
</header>