<div class="author">
    <h1 class="author__heading">Hello there, I am Kristina.</h1>
    <p class="author__body">Web developer, designer and sea explorer</p>
</div>

<img src="/img/ship.jpg" alt="person looking out to the sea storm" class="hero-image" width="981" height="528">

  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
   
 
</section>